# Data folders (never push)
Model/data/original/
Model/data/curated/nifti/


# Large binaries


# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

/node_modules
/frontend/node_modules
/client/node_modules
/apps/web/node_modules

